@charset "utf-8";
/* CSS Document */

#container
{
	margin: 0 auto;
	width: 900px;
	background: #fff;
}

#header
{

	font-family: Verdana, sans-serif, Arial;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 900px;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container
{
	float: left;
	width: 900px;
	
}

#content
{
	clear: left;
	float: left;
	width: 570px;
	padding: 10px 0;
	margin: 0 0 0 10px;
	display: inline;
}
#p
{
	font:Verdana, Geneva, sans-serif;
	font-size:10px;
}

#content h2 { margin: 0
font:Verdana, Geneva, sans-serif;
font-size:12px;
 }

#aside
{
	float: right;
	width: 280px;
	padding: 0px 0;
	margin: 30px 10px 0 0;
	display: inline;
}

#aside h3 { margin: 0; }


/* Side Table */
table.servicesT
{	font-family: Verdana,Arial,sans-serif;
font-weight: normal;
font-size: 10pt;
color: #404040;
width: 850px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
}

table.servicesT_inout
{	font-family: Verdana,Arial,sans-serif;
font-weight: normal;
font-size: 10pt;
color: #404040;
width: 80%;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
}

table.servicesT td.servHd
{	border-bottom: 2px solid #6699CC;
background-color: #BEC8D1;
text-align: center;
font-family: Verdana;
font-weight: bold;
font-size: 10pt;
color: #404040;}

table.servicesT_inout td.servHd
{	border-bottom: 2px solid #6699CC;
background-color: #BEC8D1;
text-align: center;
font-family: Verdana;
font-weight: bold;
font-size: 10pt;
color: #404040;}

table.servicesT td.NUM
{
background-color: #FFFFFF;
text-align: center;
font-family: Verdana;
font-weight: bold;
font-size: 36px;
padding-right:8px;
color: #404040;}

table.servicesT td
{	border-bottom: 1px dotted #6699CC;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 10pt;
color: #404040;
background-color: white;
text-align: left;
padding-left: 3px;}

table.servicesT_inout td
{	border-bottom: 1px dotted #6699CC;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 10pt;
color: #404040;
background-color: white;
text-align: left;
padding-left: 3px;} 

.servBodL { border-left: 1px dotted #CEDCEA; }
.maw_content{
width:100%;
padding:20px;	
min-height:550px;
}
.mist_content{
width:960px;
padding:20px;	
min-height:550px;
}
