<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>SpringWeb Web Application</display-name>
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

<!-- 	<filter> -->
<!-- 		<filter-name>SimpleFilter</filter-name> -->
<!-- 		<filter-class>com.fmr.itec.webtools.mawweb.filter.SimpleFilter</filter-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>test</param-name> -->
<!-- 			<param-value>testValue</param-value> -->
<!-- 		</init-param> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>SimpleFilter</filter-name> mandatory -->
<!-- 		<url-pattern>/*</url-pattern> either url-pattern or servlet-name is mandatory -->
<!-- 		<dispatcher>REQUEST</dispatcher> -->
<!-- 	</filter-mapping> -->

</web-app>
